//
// Scaffolding
// --------------------------------------------------


// Body reset

base()

html
  // Apply responsive typography to <html> since other elements scale through rem.
  font-size responsive 16px 21px
