//
// Typography
// --------------------------------------------------


// Typography reset

typography()


// Lists

ul
  li
    list-style-type '♦ '


// Font faces

font-face('proxima-nova')
font-face('proxima-nova', 'normal', 'italic')
font-face('proxima-nova', 'bold')
font-face('proxima-nova', 'bold', 'italic')
