//
// Variables
// --------------------------------------------------


// Colors

$alabaster = #fafafa
$alto = #dad9da
$french-blue = #0076ba
$gallery = #f0f0f0
$mountain-mist = #979494
$picton-blue = #54abf4
$storm-dust = #646261


// Typography

$proxima-nova = 'proxima-nova', sans-serif

$font-stack = $proxima-nova
$font-size = 20px
$font-color = black
$font-path = '../fonts/'


// Media queries breakpoints

$screen-xs = 480px
$screen-sm = 900px
$screen-md = 992px
$screen-lg = 1200px


// Grid system

@lost flexbox flex;
