//
// Contact info
// --------------------------------------------------


.contact-info
  reset-list()
  margin rem(5px) 0

  @media print
    columns 2
    margin-left auto
    margin-right auto
    text-align left
    width 5.95in

  li,
  a
    h5()
    color var(--text-color-lo-emphasis)
    font-size .9rem
    margin 0
    white-space nowrap

    &:hover
      color var(--primary-color)

  i
    margin-right .5em
    color $mountain-mist

  .fa-github
    color $montana

  .fa-stack-overflow
    color: $tango

  .fa-twitter
    color $picton-blue

  .fa-linkedin
    color $french-blue
