//
// Contact info
// --------------------------------------------------


.contact-info
  reset-list()
  margin: rem(5px) 0

  li,
  a
    h5()
    margin 0
    color $storm-dust
    hover-color $blue
    white-space nowrap

  i
    margin-right .8em
    color $mountain-mist

  .fa-twitter
    color $picton-blue

  .fa-linkedin
    color $french-blue
