//
// Labels
// --------------------------------------------------


.label
  bold()
  display inline
  padding .4em .9em
  background-color $gallery
  border-radius 1em
  line-height 3
  white-space nowrap
