//
// Labels
// --------------------------------------------------


.label
  bold()
  display inline
  font-size 75%
  padding .25em .5em
  background-color var(--surface-overlay-24)
  color var(--text-color-hi-emphasis)
  border-radius 1em
  line-height 2.2
  white-space nowrap
