//
// Labels
// --------------------------------------------------


.label
  bold()
  display inline
  font-size 75%
  padding .25em .5em
  background-color $gallery
  border-radius 1em
  line-height 2.2
  white-space nowrap
