//
// Layout
// --------------------------------------------------


.footer,
.sidebar
  background-color $alabaster

.sidebar
  overflow auto

  +from-width($screen-sm-breakpoint)
    lost-column 1/3
    fixed top bottom

  +has(footer)
    padding 80px 20px

    +to-width($screen-sm-breakpoint - 1)
      display none

.footer,
.content
  padding 15px

.content
  +from-width($screen-sm-breakpoint)
    lost-column 3/6
    lost-offset -1/3
    padding 80px 30px

.footer
  +from-width($screen-sm-breakpoint)
    display none
