//
// Profile
// --------------------------------------------------


.profile
  padding 70px 0 30px
  background-color $gallery
  text-align center

  +has(picture)
    img-circle()
    max-width 220px

  +has(name)
    uppercase()
    margin-right .5em
    margin-left .5em
    margin-bottom 0
    font-size responsive 25px 32px
    line-height 1.2

  +has(title)
    bold()
    h4()
    color $storm-dust
    margin-top 0

  +has(location)
    italic()
    font-size 1.1rem

    .fa
      color lighten($storm-dust, 25%)
      margin-right 0.5em

    +has(value)
      h2()
      margin 0
