//
// Variables
// --------------------------------------------------


// Colors

$alto = #dad9da
$black = #000000
$chetwode-blue = #6a6eb8
$french-blue = #0076ba
$gallery = #f0f0f0
$montana = #3a3a3a
$mountain-mist = #979494
$onyx = #121212
$picton-blue = #54abf4
$portage = #8389c5
$rich-blue = #5154ae
$tango = #f47f25
$white = #ffffff
$wistful = #a6abd7


// Typography

$proxima-nova = 'proxima-nova', sans-serif

$font-stack = $proxima-nova
$font-size = 20px
$font-color = black
$font-path = '../fonts/'


// Media queries breakpoints

$screen-xs-breakpoint = 576px
$screen-sm-breakpoint = 985px


// Grid system

@lost flexbox flex;
