doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Alejandro Iglesias

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    section.container
      aside.sidebar
        .profile
          img.profile-picture(src='images/profile-picture.jpg')
          h1.profile-name Alejandro Iglesias
          .profile-title Front-end Developer
          .profile-location
            i.fa.fa-map-marker
            | Buenos Aires, Argentina
          ul.profile-additional-info
            li
              .profile-additional-info-value 30
              abbr(title='years old') y/o
            li
              .profile-additional-info-value 8+
              abbr(title='years of experience') y/experience
            li
              .profile-additional-info-value 70+
              | projects
              br
              | delivered
        nav
          ul.nav
            li: a(href='#about-me')
              i.fa.fa-user
              | About Me
            li: a(href='#education')
              i.fa.fa-book
              | Education
            li: a(href='#work-experience')
              i.fa.fa-briefcase
              | Work Experience
            li: a(href='#skills')
              i.fa.fa-pencil
              | Skills

        footer.sidebar-footer
          p
            strong Interested in working with me?
            br
            | Awesome! I'm available for full-time or freelance opportunities.
            br
            | Get in touch:
          ul.contact-info
            li
              i.fa.fa-envelope
              a(href='mailto:aiglesias@deviget.com') aiglesias@deviget.com
            li
              i.fa.fa-twitter
              a(href='twitter.com/aiglesias_') twitter.com/aiglesias_
            li
              i.fa.fa-linkedin
              a(href='linkedin.com/in/alegarciaiglesias') linkedin.com/in/alegarciaiglesias


      main.content

        h2(id='about-me') About me
        p Web Developer with 8+ years of continuous experience working on the medium. I specialize on building attractive, usable and elegant interfaces with broad knowledge of web standards and making real-time interactions work. Experienced on solid team working and knowledge exchange inside of it. Described by co-workers as creative, accessible, dedicated, trustworthy, patient and meticulous.
        h3.text-muted Languages I speak
        ul.list-inline
          li
            strong Spanish
            div Native proficiency
          li
            strong English
            div Full professional proficiency
          li
            strong Portuguese
            div Elementary proficiency

        h2(id='education') Education
        p Always a self-taught since 12 y/o in computers and programming, other education experiences enriched and gave new shapes to my programming knowledge.
        h3 Educación IT
          | &nbsp;
          small 2012
        .position HTML5 and CSS3 course
        .position User interface design course
        h3 University of Buenos Aires
          | &nbsp;
          small 2008
        .position C++ programming course
        h3 Technical Education School No 8
          | &nbsp;
          small 2000 to 2002
        .position Computer technician

        h2(id='work-experience') Work Experience
        h3 Deviget
          | &nbsp;
          small 2013 to present
        .position Front-end Developer
        p Worked for two years on a very big application with tons of logic on the front-end that communicated with an API for other back-end processing. Dived deeper into AngularJS and wrote many components full with unit tests for use in the app and helped QA team write E2E tests once in a while. Established a scalable and modular architecture for CSS, refactored the styles, developed a Style Guide with visual patterns used in the app and researched about visual style testing. Learnt about Scrum good practices and distributed team work.
        h3 iSolutions Pro
          | &nbsp;
          small 2013
        .position Front-end Developer
        p Worked on the real-time interaction of the webapp version of a bid game. Being my first remote work I learnt communication and coordination good and bad practices with a distributed team.
        h3 Vulsai
          | &nbsp;
          small 2012 to 2013
        .position Front-end Developer
        p Worked side-by-side with team’s designer, introducing into the workflow tools like Sass and Compass, a modular architecture for CSS and also Responsive Web Design, Mobile First and Progressive Enhancement best practices. Accomplished a wide variety of JavaScript projects—aside from regular webapps—from Node.js backend processing scripts to critical embeddable third-party widgets and a data visualization app. Incorporated a build process on the team.
        h3 Yanma Solutions
          | &nbsp;
          small 2011 to 2012
        .position Full-stack Developer
        p Established team development standards and trained newcomers into them. Interviewed candidates. Developed a variety of web projects, the most important of them, a critical real-time auctions application.
        h3 Freelance Full-stack Developer
          | &nbsp;
          small 2010 to 2011
        .position Full-stack Developer
        p Worked with local clients on a variety of projects. Learnt requirements gathering, estimation and organization skills.
        h3 Crossmedia Digital Marketing
          | &nbsp;
          small 2010
        .position PHP Developer
        p As the main developer assigned to the new corporative web of Starbucks Mexico I conducted an investigation to select and implement a new cutting-edge CMS that could integrate nicely with the Symfony framework which was finally adopted by the team. I improved my skills to work inside of an interdisciplinary team of project managers, designers and other developers.
        h3 2mas2 Interactive
          | &nbsp;
          small 2008 to 2009
        .position PHP Developer
        p Responsible for developing back-ends to serve dynamic content and process user interactions of Flash-based applications for big interactive advertising campaigns. Developed a reusable platform for these apps. Participated in establishing development standards and trained the newcomers.
        h3 Syxmedia
          | &nbsp;
          small 2007 to 2008
        .position Web Developer
        p Acquired and expanded knowledge on web development and best practices. Coded mockups and dynamic websites, worked on both front-end as well as back-end using a PHP framework developed in-house.

        h2(id='skills') Skills and Personal Attributes
        ul.skills-list
          li JavaScript
          li CSS
          li Sass
          li HTML5
          li Node.js
          li Less
          li User Experience
          li Git
          li User Interface
          li Testing
          li AngularJS
          li jQuery
          li PHP
          li MySQL
          li Mac OS X
          li Object Oriented Design
          li Information Architecture
          li SMACSS/OOCSS
          li Scrum
          li Team Work
          li Creativity

      footer.footer
        p
          strong Interested in working with me?
          br
          | Awesome! I'm available for full-time or freelance opportunities.
          br
          | Get in touch:
        ul.contact-info
          li
            i.fa.fa-envelope
            a(href='mailto:aiglesias@deviget.com') aiglesias@deviget.com
          li
            i.fa.fa-twitter
            a(href='twitter.com/aiglesias_') twitter.com/aiglesias_
          li
            i.fa.fa-linkedin
            a(href='linkedin.com/in/alegarciaiglesias') linkedin.com/in/alegarciaiglesias


    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
