doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Alejandro Iglesias

    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    section.container
      aside.sidebar
        .profile
          img.profile-picture(src='images/profile-picture.jpg')
          h1.profile-name Alejandro Iglesias
          .profile-title Frontend Developer
          .profile-location
            i.fa.fa-map-marker
            | Buenos Aires, Argentina
          ul.profile-additional-info
            li
              .profile-additional-info-value 30
              abbr(title='years old') y/o
            li
              .profile-additional-info-value 8+
              abbr(title='years of experience') y/experience
            li
              .profile-additional-info-value 70+
              | projects
              br
              | delivered
        nav
          ul.nav
            li: a(href='#about-me')
              i.fa.fa-user
              | About Me
            li: a(href='#education')
              i.fa.fa-book
              | Education
            li: a(href='#work-experience')
              i.fa.fa-briefcase
              | Work Experience
            li: a(href='#skills')
              i.fa.fa-pencil
              | Skills

        footer.sidebar-footer
          p
            strong Interested in working with me?
            br
            | Awesome! I'm available for full-time or freelance opportunities.
            br
            | Get in touch:
          ul.contact-info
            li
              i.fa.fa-envelope
              a(href='mailto:aiglesias@deviget.com') aiglesias@deviget.com
            li
              i.fa.fa-twitter
              a(href='twitter.com/aiglesias_') twitter.com/aiglesias_
            li
              i.fa.fa-linkedin
              a(href='linkedin.com/in/alegarciaiglesias') linkedin.com/in/alegarciaiglesias

      main.content
        h2(id='about-me') About Me
        p Web Developer with 8+ years of continuous experience working on the medium. I specialize on building attractive, usable and elegant interfaces with broad knowledge of web standards and making real-time interactions work. Experienced on solid team working and knowledge exchange inside of it. Described by co-workers as creative, accessible, dedicated, trustworthy, patient and meticulous.
        h2(id='education') Education
        p A libero at per ultrices nisl urna mus libero a libero ullamcorper amet parturient pharetra. A et cras ridiculus lobortis sapien a mauris ullamcorper massa aenean a ullamcorper adipiscing scelerisque natoque mi adipiscing augue vestibulum phasellus ac fermentum id vestibulum tristique ullamcorper ut. Magnis nec sed massa inceptos amet euismod dictumst posuere adipiscing fermentum parturient nam sodales luctus sem vestibulum vehicula. Dis dapibus ullamcorper donec parturient pretium feugiat mollis feugiat suscipit a nulla orci euismod dictum pretium per a parturient a leo rhoncus dictum.
        p Dictumst curabitur ullamcorper at porta malesuada a neque urna parturient erat iaculis ullamcorper cum mi. Pretium volutpat vestibulum fringilla euismod sagittis natoque interdum vehicula condimentum lobortis fames proin fusce scelerisque conubia suspendisse at condimentum accumsan hendrerit ut elit praesent. Pretium malesuada ac ultrices vestibulum sociosqu justo habitasse posuere consequat scelerisque a vel id vestibulum class fusce habitant magnis nisl tincidunt platea hac laoreet erat.
        p Imperdiet cubilia iaculis erat at mollis posuere lorem a id duis sem mus a magna blandit condimentum a a nascetur fusce magna a leo. Ac consectetur a quisque vulputate natoque convallis a magnis lectus at a magnis nam laoreet parturient suspendisse in natoque nec parturient egestas lectus adipiscing ad semper curabitur a. Interdum nam placerat eu id dui primis urna curabitur malesuada cursus parturient arcu ullamcorper varius faucibus nunc ullamcorper. Non a parturient adipiscing vestibulum fusce ullamcorper sit consectetur sed euismod nec amet adipiscing rutrum cursus sodales vestibulum ad enim ad praesent felis quis torquent enim tristique. Sodales scelerisque enim hac gravida potenti adipiscing ipsum aptent a ullamcorper suspendisse consectetur dui felis vestibulum taciti suspendisse vestibulum luctus suspendisse cum magna laoreet per. Est a accumsan venenatis condimentum habitasse id maecenas mi adipiscing egestas congue vitae justo sem nec id duis parturient leo netus risus volutpat parturient a.
        h2(id='work-experience') Work Experience
        p Dis luctus adipiscing scelerisque nascetur et condimentum habitasse parturient nec feugiat vestibulum scelerisque a semper. Netus condimentum semper risus habitant vestibulum hac eros praesent habitasse quis nec laoreet scelerisque adipiscing. Nisi dui diam suspendisse tincidunt suspendisse id scelerisque a hendrerit sit consectetur parturient convallis amet ultricies sem euismod neque fusce venenatis vulputate. Elementum risus inceptos venenatis mattis condimentum nisl sodales viverra sociosqu nibh parturient malesuada consectetur sagittis faucibus arcu luctus natoque consectetur. Parturient est class hendrerit scelerisque posuere in vehicula ad adipiscing faucibus elementum lobortis tellus rutrum at nulla.
        p Senectus taciti suspendisse integer malesuada ullamcorper lobortis augue adipiscing a elit a porta condimentum pulvinar eleifend vitae adipiscing ante tincidunt cubilia dictumst condimentum a mattis vestibulum bibendum justo curabitur. Suspendisse eu maecenas a netus congue eleifend parturient parturient a himenaeos porta placerat parturient suscipit netus quisque tristique vulputate a conubia. Facilisis a nam vestibulum a ac enim nascetur aenean aliquam rhoncus placerat lobortis a viverra curabitur justo. Facilisi per convallis in parturient aliquam ipsum taciti pulvinar lectus vestibulum a parturient tellus elit. Phasellus a justo ut parturient a ac mi a imperdiet dignissim dolor conubia gravida rhoncus at pulvinar elit platea tincidunt penatibus molestie sociosqu metus. A a in a magna netus sit habitasse parturient dignissim a hac vestibulum a lobortis lacus nullam scelerisque nibh nisl.
        p Inceptos velit commodo vivamus in lectus adipiscing eleifend a eget pharetra class accumsan blandit condimentum quam. Luctus a malesuada proin vivamus lacinia in parturient leo adipiscing a vitae natoque et porttitor inceptos a scelerisque senectus. A integer imperdiet rutrum tincidunt parturient convallis consequat faucibus class nullam curabitur aenean suscipit ultricies mi elementum ante scelerisque a adipiscing maecenas ad. Laoreet condimentum sociosqu sociosqu placerat morbi consectetur arcu vehicula adipiscing adipiscing porttitor suspendisse sit gravida a metus ad nascetur hac turpis a scelerisque vehicula suspendisse potenti. Id a ut elit per vestibulum per felis placerat viverra a consectetur cum rutrum eu a parturient sagittis metus adipiscing a parturient ultricies a morbi hendrerit nisl conubia a. Vestibulum sed in facilisis placerat fringilla ut vestibulum diam himenaeos est amet a arcu a vestibulum dis urna a ultricies turpis habitasse magna.
        h2(id='skills') Skills
        p Lobortis sodales eget a vestibulum a potenti mi iaculis suspendisse a elementum consequat iaculis dis sem pretium suspendisse et a blandit viverra sapien ullamcorper. Fames nostra in donec auctor ullamcorper facilisis sodales adipiscing dis nam vehicula egestas nunc nunc tempor amet adipiscing scelerisque. Urna class fringilla neque lobortis ullamcorper montes potenti ad rhoncus volutpat a id parturient vestibulum ullamcorper scelerisque a amet leo. Id netus varius facilisis senectus a lorem cursus a scelerisque cubilia tristique adipiscing ipsum lacinia. Sed hac suspendisse iaculis dapibus eu dis scelerisque eget nostra scelerisque gravida nam cras hac adipiscing vestibulum ut ut libero quisque consequat urna tristique dignissim rutrum per semper.

      footer.footer
        p
          strong Interested in working with me?
          br
          | Awesome! I'm available for full-time or freelance opportunities.
          br
          |Get in touch:
        ul.contact-info
          li
            i.fa.fa-envelope
            a(href='mailto:aiglesias@deviget.com') aiglesias@deviget.com
          li
            i.fa.fa-twitter
            a(href='twitter.com/aiglesias_') twitter.com/aiglesias_
          li
            i.fa.fa-linkedin
            a(href='linkedin.com/in/alegarciaiglesias') linkedin.com/in/alegarciaiglesias

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
