mixin contact-info
  ul.contact-info
    li
      i.fa.fa-envelope(style="margin-right:.2em")
      script email('ale.garciaiglesias', 'gmail.com')
    li.hidden-screen
      i.fa.fa-globe
      a(href='https://alejandroiglesias.github.io/cv/') alejandroiglesias.github.io/cv
    li
      i.fa.fa-linkedin
      a(href='https://www.linkedin.com/in/alegarciaiglesias') linkedin.com/in/alegarciaiglesias
    li
      i.fa.fa-stack-overflow
      a(href='https://stackoverflow.com/users/425741') stackoverflow.com/users/425741
    li
      i.fa.fa-github
      a(href='https://github.com/alejandroiglesias') github.com/alejandroiglesias
    li
      i.fa.fa-twitter
      a(href='https://twitter.com/aiglesias_') twitter.com/aiglesias_

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Alejandro García Iglesias • Frontend Developer

    // Google Analytics
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-71460211-1" async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-71460211-1');

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(href='styles/main.css', rel='stylesheet')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

  body
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    section.container
      aside.sidebar
        .profile
          img.profile-picture(src='images/profile-picture.jpg')
          h1.profile-name Alejandro García&nbsp;Iglesias
          .profile-title Front-end Developer
          .profile-location
            i.fa.fa-map-marker
            | Buenos Aires, Argentina
        nav.hidden-print
          ul.nav
            li: a(href='#about-me')
              i.fa.fa-user
              | About Me
            li: a(href='#work-experience').text-nowrap
              i.fa.fa-briefcase
              | Work Experience
            li: a(href='#skills')
              i.fa.fa-pencil
              | Skills
            li: a(href='#open-source')
              i.fa.fa-code-fork
              | Open Source

        footer.sidebar-footer
          p.hidden-print
            strong Interested in working with me?
            br
            | Awesome! I'm available for full-time or freelance opportunities. Get&nbsp;in&nbsp;touch:
          +contact-info


      main.content
        h2(id='about-me') About Me
        p Web Developer with 12+ years of continuous experience working on the medium. I worked in frontend and full-stack positions, specializing in building attractive, usable and elegant interfaces with a broad knowledge of web standards, with a love for crafting design systems and style guides. Experienced in solid team working and knowledge exchange inside of it. Described by co-workers as creative, accessible, dedicated, trustworthy, patient and meticulous.
        h4.text-muted Languages I speak
        ul.list-inline.text-size-1
          li
            strong Spanish
            div Native proficiency
          li
            strong English
            div Full professional proficiency
          li
            strong Portuguese
            div Elementary proficiency

        h2(id='work-experience') Work Experience

        h3 Mapme
          | &nbsp;
          small 2016–current
        .position Front-end Developer
        p Implemented the redesigned product UI with Vue &amp; Vuex, and worked on features and maintenance of an application built in Angular.js, both connected to a Meteor backend. Designed and built new components, applied design changes and refactored the codebase.
        ul.skills-list.text-print-size-2
          li JavaScript
          li Vue.js
          li Vuex
          li Angular.js
          li CSS
          li Sass
          li Bootstrap
          li Bulma
          li HTML5
          li Node.js
          li Meteor
          li MongoDB
          li Git
          li jQuery
          li SMACSS/OOCSS
          li User Interface Design

        h3 UpLabs
          | &nbsp;
          small 2016
        .position Front-end Developer
        p Developed the Angular.js app UI, built new components, migrated components to React and applied design changes in Sass and Rails' templates.
        ul.skills-list.text-print-size-2
          li JavaScript
          li Angular.js
          li React
          li CSS
          li Sass
          li Material Design
          li HTML5
          li Git
          li jQuery
          li SMACSS/OOCSS

        h3 Lendsnap
          | &nbsp;
          small 2016
        .position Front-end Developer
        p Developed the app UI in Angular.js, helped establish coding standards on the front-end team, refactored old code and wrote unit tests.
        ul.skills-list.text-print-size-2
          li JavaScript
          li Angular.js
          li CSS
          li Sass
          li Bootstrap
          li HTML5
          li Jasmine
          li Testing
          li Git
          li SMACSS/OOCSS
          li User Interface Design
          li Scrum

        h3 Deviget
          | &nbsp;
          small 2013 to 2016
        .position Front-end Developer
        p Worked for two years with a client—from the online advertising industry—on a big application with large pieces of business logic on the front-end. Dived deeper into Angular.js and wrote many<br><br><br>components with unit tests. Wrote some E2E tests with the QA team. Established a scalable and modular architecture for CSS, refactored the styles, developed a Style Guide with visual patterns and researched about visual style testing. Learned more about Scrum and distributed team work. Also, worked with another client—from the security industry—building a UI in React for managing security policies.
        ul.skills-list.text-print-size-2
          li JavaScript
          li Angular.js
          li React
          li CSS
          li Less
          li Bootstrap
          li HTML5
          li Jasmine
          li Testing
          li Git
          li jQuery
          li SMACSS/OOCSS
          li User Interface Design
          li Scrum

        h3 iSolutions Pro
          | &nbsp;
          small 2013
        .position Front-end Developer
        p Worked on the real-time interaction of the web app version of a bidding game. Being my first remote work I learned communication and coordination good and bad practices with a distributed team.
        ul.skills-list.text-print-size-2
          li JavaScript
          li Angular.js
          li CSS
          li Bootstrap
          li Sass
          li HTML5
          li Git
          li SMACSS/OOCSS

        h3 Vulsai
          | &nbsp;
          small 2012 to 2013
        .position Front-end Developer
        p Worked side-by-side with team's designer, introducing into the workflow tools like Sass and Compass, a modular architecture for CSS and also Responsive Web Design, Mobile First, and Progressive Enhancement best practices. Accomplished a wide variety of JavaScript projects—aside from regular webapps—from Node.js back-end processing scripts to critical embeddable third-party widgets and a data visualization app. Incorporated a build process on the team.
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li Sass
          li Bootstrap
          li HTML5
          li Node.js
          li Less
          li jQuery
          li D3.js
          li Git
          li Information Architecture
          li SMACSS/OOCSS

        h3 Yanma Solutions
          | &nbsp;
          small 2011 to 2012
        .position Full-stack Developer
        p Established team development standards and trained newcomers into<br><br><br>them. Interviewed candidates. Developed a variety of web projects, the most important of them, a critical real-time auctions application.
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li Bootstrap
          li HTML5
          li jQuery
          li PHP
          li MySQL
          li SVN
          li Scrum

        h3 Freelance Full-stack Developer
          | &nbsp;
          small 2010 to 2011
        .position Full-stack Developer
        p Worked with local clients on a variety of projects. Learned requirements gathering, estimation and organization skills.
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li HTML5
          li jQuery
          li PHP
          li MySQL
          li SVN

        h3 2mas2 Interactive
          | &nbsp;
          small 2008 to 2009
        .position PHP Developer
        p.hidden-print Responsible for developing backends to serve dynamic content and process user interactions of Flash-based applications<span class="hidden-screen">.</span> <span class="hidden-print">for big interactive advertising campaigns. Developed a reusable platform for these apps. Participated in establishing development standards and trained the newcomers. Learned ActionScript.</span>
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li jQuery
          li PHP
          li MySQL
          li SVN

        h3 Syxmedia
          | &nbsp;
          small 2007 to 2008
        .position Web Developer
        p.hidden-print Acquired and expanded knowledge on web development and best practices. Coded mockups and dynamic websites, worked on both front-end and back-end using a PHP framework developed in-house.
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li HTML
          li jQuery
          li PHP
          li MySQL

        h2(id='skills') Other Skills and Attributes
        ul.skills-list.text-print-size-2
          li User Interface Design
          li Atomic Design
          li SMACSS/OOCSS
          li Design Systems
          li Information Architecture
          li Scrum
          li Creativity

        //- h2(id='open-source') Open Source
        //- .media
        //-   .media-left
        //-     img.img-rounded(src='images/praxis-logo.jpg', height='68px')
        //-   .media-body.p-l-2
        //-     h3.m-t-0 Praxis
        //-     .position.m-b-0 Creator and maintainer
        //- p Praxis is a modular CSS framework built on top of the Axis CSS utility library and Stylus, designed to be the first-choice pattern library for designers and developers using Stylus, as well as a modest, clean and lightweight option for those looking for alternatives.<br>
        //-   a.hidden-print(href='http://praxis-ui.com/') praxis-ui.com

      footer.footer.m-t-3.hidden-print
        p
          strong Interested in working with me?
          br
          | Awesome! I'm available for full-time or freelance opportunities. Get&nbsp;in&nbsp;touch:
        +contact-info


    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
