doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Alejandro Iglesias • Frontend Developer

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

  body
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    section.container
      aside.sidebar
        .profile
          img.profile-picture(src='images/profile-picture.jpg')
          h1.profile-name Alejandro Iglesias
          .profile-title Front-end Developer
          .profile-location
            i.fa.fa-map-marker
            | Buenos Aires, Argentina
          ul.profile-additional-info.hidden-print
            li
              .profile-additional-info-value 30
              abbr(title='years old') y/o
            li
              .profile-additional-info-value 10+
              abbr(title='years of experience') y/experience
            li
              .profile-additional-info-value 70+
              | projects
              br
              | delivered
        nav.hidden-print
          ul.nav
            li: a(href='#about-me')
              i.fa.fa-user
              | About Me
            li: a(href='#work-experience').text-nowrap
              i.fa.fa-briefcase
              | Work Experience
            li: a(href='#skills')
              i.fa.fa-pencil
              | Skills
            li: a(href='#open-source')
              i.fa.fa-code-fork
              | Open Source

        footer.sidebar-footer
          p.hidden-print
            strong Interested in working with me?
            br
            | Awesome! I'm available for full-time or freelance opportunities. Get&nbsp;in&nbsp;touch:
          ul.contact-info
            li.m-t-1
              i.fa.fa-envelope
              script email('ale.garciaiglesias', 'gmail.com')
            li.hidden-screen.m-b-1
              i.fa.fa-globe
              a(href='alejandro-iglesias.com') alejandro-iglesias.com
            li
              i.fa.fa-github
              a(href='http://github.com/alejandroiglesias') github.com/alejandroiglesias
            li
              i.fa.fa-twitter
              a(href='http://twitter.com/aiglesias_') twitter.com/aiglesias_
            li
              i.fa.fa-linkedin
              a(href='http://lnked.in/aiglesias') lnked.in/aiglesias


      main.content
        h2(id='about-me') About Me
        p Web Developer with 10+ years of continuous experience working on the medium. I specialize on building attractive, usable and elegant interfaces with broad knowledge of web standards and making real-time interactions work. Experienced on solid team working and knowledge exchange inside of it. Described by co-workers as creative, accessible, dedicated, trustworthy, patient and meticulous.
        h4.text-muted Languages I speak
        ul.list-inline.text-size-1
          li
            strong Spanish
            div Native proficiency
          li
            strong English
            div Full professional proficiency
          li
            strong Portuguese
            div Elementary proficiency

        h2(id='work-experience') Work Experience
        h3 Mapme
          | &nbsp;
          small 2016–current
        .position Front-end Developer
        p Currently working in the product UI built in AngularJS which connects to a Meteor backend. Built new components, applied design changes in Sass and HTML/Jade templates. Designed and built new components and refactored AngularJS and Sass code.
        h3 UpLabs
          | &nbsp;
          small 2016
        .position Front-end Developer
        p Developed the existing app UI in AngularJS, built new components and applied design changes in Sass and Rails' templates. Built new components and migrated components into React.
        h3 Lendsnap
          | &nbsp;
          small 2016
        .position Front-end Developer
        p Developed the existing app UI which was built with AngularJS, helped establish coding standards on the front-end team, refactored old code and wrote unit tests.
        h3 Deviget
          | &nbsp;
          small 2013 to 2016
        .position Front-end Developer
        p Worked for two years with a client—from the online advertising industry—on a big application with large pieces of business logic on the front-end. Dived deeper into AngularJS and wrote many components with unit tests. Learned from the QA team how to write E2E tests. Established a scalable and modular architecture for CSS, refactored the styles, developed a Style Guide with visual patterns and researched about visual style testing. Learned more about Scrum and distributed team work. Also worked for another client—from the security industry—building a UI in React for managing security policies.
        h3 iSolutions Pro
          | &nbsp;
          small 2013
        .position Front-end Developer
        p Worked on the real-time interaction of the web app version of a bidding game. Being my first remote work I learned communication and coordination good and bad practices with a distributed team.
        h3 Vulsai
          | &nbsp;
          small 2012 to 2013
        .position Front-end Developer
        p Worked side-by-side with team’s designer, introducing into the workflow tools like Sass and Compass, a modular architecture for CSS and also Responsive Web Design, Mobile First, and Progressive Enhancement best practices. Accomplished a wide variety of JavaScript projects—aside from regular webapps—from Node.js back-end processing scripts to critical embeddable third-party widgets and a data visualization app. Incorporated a build process on the team.
        h3 Yanma Solutions
          | &nbsp;
          small 2011 to 2012
        .position Full-stack Developer
        p Established team development standards and trained newcomers into them. Interviewed candidates. Developed a variety of web projects, the most important of them, a critical real-time auctions application.
        h3 Freelance Full-stack Developer
          | &nbsp;
          small 2010 to 2011
        .position Full-stack Developer
        p Worked with local clients on a variety of projects. Learned requirements gathering, estimation and organization skills.
        .page-break
        h3 Crossmedia Digital Marketing
          | &nbsp;
          small 2010
        .position PHP Developer
        p.hidden-print As the main developer assigned to the new corporate web of Starbucks Mexico I conducted an investigation to select and implement a new cutting-edge CMS that could integrate nicely with the Symfony framework which was finally adopted by the team. I improved my skills to work inside of an interdisciplinary team of project managers, designers, and other developers.
        h3 2mas2 Interactive
          | &nbsp;
          small 2008 to 2009
        .position PHP Developer
        p.hidden-print Responsible for developing backends to serve dynamic content and process user interactions of Flash-based applications<span class="hidden-screen">.</span> <span class="hidden-print">for big interactive advertising campaigns. Developed a reusable platform for these apps. Participated in establishing development standards and trained the newcomers. Learned ActionScript.</span>
        h3 Syxmedia
          | &nbsp;
          small 2007 to 2008
        .position Web Developer
        p.hidden-print Acquired and expanded knowledge on web development and best practices. Coded mockups and dynamic websites, worked on both front-end and back-end using a PHP framework developed in-house.

        h2(id='skills') Skills and Personal Attributes
        ul.skills-list.text-print-size-2
          li JavaScript
          li CSS
          li Sass
          li HTML5
          li Node.js
          li Meteor
          li Less
          li User Experience
          li Git
          li User Interface
          li Testing
          li AngularJS
          li React
          li jQuery
          li PHP
          li MySQL
          li MongoDB
          li Mac OS X
          li Object Oriented Design
          li Information Architecture
          li SMACSS/OOCSS
          li Scrum
          li Team Work
          li Creativity

        h2(id='open-source') Open Source
        .media
          .media-left
            img.img-rounded(src='images/praxis-logo.jpg', height='68px')
          .media-body.p-l-2
            h3.m-t-0 Praxis
            .position.m-b-0 Creator and maintainer
        p Praxis is a modular CSS framework built on top of the large and robust Axis CSS utility library and Stylus, designed to be the first-choice pattern library for designers and developers using Stylus who want to leverage the power of the language, as well as a modest, clean and lightweight option for those looking for alternatives.<br>
          a(href='http://praxis-ui.com/') praxis-ui.com

      footer.footer.m-t-3.hidden-print
        p
          strong Interested in working with me?
          br
          | Awesome! I'm available for full-time or freelance opportunities. Get&nbsp;in&nbsp;touch:
        ul.contact-info
          li
            i.fa.fa-envelope
            script email('ale.garciaiglesias', 'gmail.com')
          li.hidden-screen
            i.fa.fa-globe
            a(href='alejandro-iglesias.com') alejandro-iglesias.com
          li
            i.fa.fa-github
            a(href='http://github.com/alejandroiglesias') github.com/alejandroiglesias
          li
            i.fa.fa-twitter
            a(href='http://twitter.com/aiglesias_') twitter.com/aiglesias_
          li
            i.fa.fa-linkedin
            a(href='http://lnked.in/aiglesias') lnked.in/aiglesias


    // Google Analytics
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-71460211-1');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
